{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load hk_generic %}

{% block content %}

<div id="categories">

    <div class="row header">
        <div class="col-tn-12 col-md-8">
            <a class="btn btn-default" href="#"><i class="fa fa-plus"></i> Suggest a new category</a>
        </div>
        <div class="btn-group col-tn-12">
            <p class="hide-switches">
                <label><input type="checkbox" value="unsubscribed" /> Hide unsubscribed</label>
                <label><input type="checkbox" value="subscribed" /> Hide subscribed</label>
            </p>
        </div>
    </div> <!-- /row, container for filters and btns -->

    <p class="table-title visible-tn visible-xs">Posts per category (past 30 days)</p>
    <table class="table category-list">
        <thead class="hidden-tn hidden-xs">
            <tr>
                <th>category</th>
                <th>description</th>
                <th>discussions
                    <span class="hidden-xs">(past 30 days)</span>
                </th>
                <th class="category-subscribe"></th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr class="category {% if category.subscribed %}subscribed {% else %}unsubscribed{% endif %}">
                <td class="category-label col-tn-5 col-xs-2">
                    <a class="category-link" href="#"><span {% if category.color %} style="background:#{{ category.color }}" class="
                        {% else %}class="label-default {% endif %}label">
                    {{ category.name }}</span></a>
                    <span class="visible-tn">{{ category.description }}</span>
                </td>
                <td class="category-description hidden-tn col-xs-4 col-md-5">
                    <span>{{ category.description }} </span>
                </td>
                <td class="category-stats col-tn-3 col-xs-2 col-sm-4 col-md-3">
                    <ul class="list-inline">
                        <li>
                            <i class="icomoon discussion"></i> 
                            {{ category_threads|get_item:category.name|length }}
                        </li>
                    </ul>
                </td>
                <td class="category-subscribe col-tn-2 col-xs-2">
                    <a class="btn btn-default">
                        {% if category.subscribed %}
                        <i class="fa fa-minus"></i>
                        <span class="hidden-tn"> unsubscribe</span>
                        {% else %}
                        <i class="fa fa-plus"></i>
                        <span class="hidden-tn"> subscribe</span>
                        {% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> <!-- /container for list of category labels -->

</div>
{% endblock %}

{% block additionaljs %}

<script>
    // Filter
    $(".hide-switches input").click(function() {
        var hide_by_class = {};
        $(".hide-switches input").each(function() {
            var cls = $(this).val();
            hide_by_class[cls] = $(this).prop("checked");
        });
        $("table.category-list tr.category").each(function() {
            var must_hide = false;
            for (cls in hide_by_class) {
                if ($(this).hasClass(cls) && hide_by_class[cls]) {
                    must_hide = true;
                }
            }
            if (must_hide) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    });
    // click behavior for each row
    $("table.category-list tr.category").click(function(e) {
        document.location.href = $(this).find("a.category-link").attr("href");
    });
</script>

{% endblock %}