<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="ROBOTS" content="INDEX, FOLLOW" />
        <title>
        List Archives - Categories
        </title>
        <meta name="author" content="" />
        <meta name="dc.language" content="en" />
        <link rel="shortcut icon" href="../static/hyperkitty/img/favicon.ico" />
        <link rel="stylesheet" media="all" href="../static/hyperkitty/libs/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../static/hyperkitty/libs/font-awesome/css/font-awesome.min.css">
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-base.css" />
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-common.css" />
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-index.css" />
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-user.css" />
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-overview.css" />
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-threadslist.css" />
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-message.css" />
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-categories.css" />
        
    </head>

    <body>

    <div class="container-full">
        <nav class="navbar navbar-fixed-top navbar-default">
            <div class="container">
                <!--part of the navbar that will always be present-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> 
                    <a class="navbar-brand" id="archives-name" href="/">List Archives</a>
                </div>
                <!--part of the navbar that will be collapsed on small screens-->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav nav-pills">
                        <li><a href="#">Lists</a></li>
                        <li class="active"><a href="#">Categories</a></li>
                        <li><a href="#">Tags</a></li>
                        <li><a href="#">Users</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right auth">
                        <li><a class="mm_logout" href="/accounts/logout/?next=/">Logout</a></li>
                        <li><a class="right" href="/accounts/profile/">email@address.com</a></li>
                    </ul>
                    <form name="search" method="get" action="/search" class="navbar-form navbar-right" role="search">
                        <input type="hidden" name="list" value="cloud@lists.fedoraproject.org" />
                        <div class="form-group">
                            <input name="query" type="text" class="form-control" placeholder="Search this list"/>
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container" id="categories">
            <div class="row">
                <ol class="breadcrumb" >
                    <li class="active"><a href="/"> All categories </a></li>
                </ol>
            </div>

            <div class="row" id="actions">
                <div class="col-md-7">
                    <a class="btn btn-default" href="#"><i class="fa fa-plus"></i> Suggest a new category</a>
                </div>
                <div class="pull-right" id="filters">
                    <span class="smallcaps-label">show: &nbsp;</span>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default active">all</button>
                        <button type="button" class="btn btn-default">subscribed</button>
                        <button type="button" class="btn btn-default">unsubscribed</button>
                    </div>
                </div>
            </div>

            <!-- heading labels -->
            <div class="row" >
                <div class="col-md-11">
                    <div class="row">
                        <span class="smallcaps-label col-md-2">category</span>
                        <span class="smallcaps-label col-md-7">description</span>
                        <span class="smallcaps-label col-md-3">discussions (past 30 days)</span>
                </div>
                </div>
            </div>

            <!-- category list -->
            <div class="row">
                <div class="bordered-row col-md-11">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="label label-default">meeting</span>
                        </div>
                        <span class="col-md-7">Agendas and notes from meetings</span>
                        <div class="col-md-3">
                            <ul class="list-inline">
                                <li>
                                    <i class="icomoon discussion"></i> 
                                    43
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-default"><i class="fa fa-plus"></i> &nbsp;&nbsp;subscribe&nbsp;&nbsp;</a>
                </div>
            </div>

            <div class="row">
                <div class="bordered-row col-md-11">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="label label-info">announce</span>
                        </div>
                        <div class="col-md-7">
                            <span>Discussions that share information with list members</span>
                        </div>
                        <div class="col-md-3">
                            <ul class="list-inline">
                                <li>
                                    <i class="icomoon discussion"></i> 
                                    3
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-default"><i class="fa fa-minus"></i> unsubscribe</a>
                </div>
            </div>

            <div class="row">
                <div class="bordered-row col-md-11">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="label label-danger">flame</span>
                        </div>
                        <div class="col-md-7">
                            <span>Incendiary discussions without much productive value</span>
                        </div>
                        <div class="col-md-3">
                            <ul class="list-inline">
                                <li>
                                    <i class="icomoon discussion"></i> 
                                    15
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-default"><i class="fa fa-plus"></i> &nbsp;&nbsp;subscribe&nbsp;&nbsp;</a>
                </div>
            </div>

            <div class="row">
                <div class="bordered-row col-md-11">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="label label-warning">idea</span>
                        </div>
                        <div class="col-md-7">
                            <span>Discussions that have good ideas in them</span>
                        </div>
                        <div class="col-md-3">
                            <ul class="list-inline">
                                <li>
                                    <i class="icomoon discussion"></i> 
                                    29
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-default"><i class="fa fa-plus"></i> &nbsp;&nbsp;subscribe&nbsp;&nbsp;</a>
                </div>
            </div>

        </div>

    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/hyperkitty/libs/jquery/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="../static/hyperkitty/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
    
    <script src="../static/hyperkitty/libs/bootstrap/js/bootstrap.min.js"></script>
    
    <script src="../static/hyperkitty/libs/jquery.expander.js"></script>
    
    <script src="../static/hyperkitty/libs/d3.v2.min.js"></script>
    
    <script src="../static/hyperkitty/libs/jquery.hotkeys.js"></script>
    
    <script src="../static/hyperkitty/js/hyperkitty-common.js"></script>
    
    <script src="../static/hyperkitty/js/hyperkitty-index.js"></script>
    
    <script src="../static/hyperkitty/js/hyperkitty-thread.js"></script>
    
    <script src="../static/hyperkitty/js/hyperkitty-userprofile.js"></script>
    
    
    </body>
</html>
