{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load hk_generic %}

{% block title %}
{% trans 'Category details' %} - {{ category }} - {{ app_name|title }}
{% endblock %}

{% block content %}

<div id="category_overview">

    <div class="row header">
        <div class="col-tn-12">
            <span {% if category.color %} style="background:#{{ category.color }}" class="
                {% else %}class="label-default {% endif %}label">
            {{ category.name }}</span>
        </div>
        <div class="btn-group col-tn-12">
            <p class="hide-switches">
                <label><input type="checkbox" value="unsubscribed" /> Hide unsubscribed lists</label>
                <label><input type="checkbox" value="subscribed" /> Hide subscribed lists</label>
            </p>
        </div>
    </div> <!-- /row, container for filters and btns -->

    <table class="table list">
        <thead class="hidden-tn hidden-xs">
            <tr>
                <th class="col-sm-2">list</th>
                <th class="col-sm-4 col-lg-5">discussion</th>
                <th class="col-sm-2">started by</th>
                <th class="col-sm-2 col-lg-1">comments</th>
                <th class="col-sm-2 col-lg-1">age</th>
            </tr>
        </thead>
        <tbody>
            {% for thread in category_threads %}
            <tr class="thread {% if thread.list.subscribed %}subscribed {% else %}unsubscribed{% endif %}"">
                <td class="list-name col-tn-2">
                    {{ thread.list.name }}
                </td>
                <td class="thread-title col-tn-10">
                    <div class="thread-link">
                        <a href="{% url 'thread' threadid=thread.email_id mlist_fqdn=thread.list.list_address %}">{{ thread.title }}</a>
                    </a>
                    </div>
                    <span class="hidden-sm hidden-md hidden-lg">
                        {{ thread.author }}
                        <br>
                        <span class="thread-posts col-tn-12 col-xs-6">
                            <i class="icomoon discussion"></i>
                            {{ thread.answers|length }} posts
                        </span>
                        <span class="thread-age col-tn-12 col-xs-6">
                            Last post: {{ thread.age }} ago
                        </span>
                    </span>
                </td>
                <td class="hidden-tn hidden-xs">
                    {{ thread.author }}
                </td>
                <td class="hidden-tn hidden-xs">
                    <i class="icomoon discussion"></i> 
                    {{ thread.answers|length }}
                </td>
                <td class="hidden-tn hidden-xs">
                    {{ thread.age }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> <!-- /container for list of threads -->

    {% include "paginator.html" with pager=threads %}
</div>
{% endblock %}

{% block additionaljs %}

<script>
    // Filter
    $(".hide-switches input").click(function() {
        var hide_by_class = {};
        $(".hide-switches input").each(function() {
            var cls = $(this).val();
            hide_by_class[cls] = $(this).prop("checked");
        });
        $("table.list tr.thread").each(function() {
            var must_hide = false;
            for (cls in hide_by_class) {
                if ($(this).hasClass(cls) && hide_by_class[cls]) {
                    must_hide = true;
                }
            }
            if (must_hide) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    });
    // click behavior for each row
    $("table.list tr.category").click(function(e) {
        document.location.href = $(this).find("a").attr("href");
    });
    // multiline ellipsis
     $(window).resize(function() {
        $("table.list div.thread-link").each(function() {
            $(this).dotdotdot();
        });
    });
    $("table.list div.thread-link").each(function() {
            $(this).dotdotdot();
    });
</script>

{% endblock %}