{% extends "base.html" %}
{% load url from future %}
{% load gravatar %}
{% load hk_generic %}

{% block content %}

<div id="categories">

    <div class="row filters">
        <div class="col-tn-8">
            <a class="btn btn-default" href="#"><i class="fa fa-plus"></i> Suggest a new category</a>
        </div>
        <div class="col-tn-4" id="filters">
            <span class="smallcaps-label">show: </span>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default active">all</button>
                <button type="button" class="btn btn-default">subscribed</button>
                <button type="button" class="btn btn-default">unsubscribed</button>
            </div>
        </div>
    </div> <!-- /row, container for filters and btns -->

    <table class="table category-list col-tn-12">
        <thead>
            <tr>
                <th class="col-tn-2">category</th>
                <th class="col-tn-5">description</th>
                <th class="col-tn-3">discussions (past 30 days)</th>
                <th class="col-tn-2 category-subscribe"></th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td class="category-label">
                    <span {% if category.color %} style="background:#{{ category.color }}" class="
                        {% else %}class="label-default {% endif %}label">
                    {{ category.name }}</span>                        
                </td>
                <td class="category-description">
                    <span>{{ category.description }} </span>
                </td>
                <td class="category-stats">
                    <ul class="list-inline">
                        <li>
                            <i class="icomoon discussion"></i> 
                            {{ category_threads|get_item:category.name|length }}
                        </li>
                    </ul>
                </td>
                <td class="category-subscribe">
                    <a class="btn btn-default">
                        {% if category.subscribed %}
                        <i class="fa fa-minus"></i> unsubscribe
                        {% else %}
                        <i class="fa fa-plus"></i> subscribe
                        {% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> <!-- /container for list of category labels -->

</div>
{% endblock %}