<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="ROBOTS" content="INDEX, FOLLOW" />
        <title>
        cloud＠lists.fedoraproject.org - List Archives
        </title>
        <meta name="author" content="" />
        <meta name="dc.language" content="en" />
        <link rel="shortcut icon" href="../static/hyperkitty/img/favicon.ico" />
        <link rel="stylesheet" media="all" href="../static/hyperkitty/libs/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../static/hyperkitty/libs/font-awesome/css/font-awesome.min.css">
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-base.css" />
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-common.css" />
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-index.css" />
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-user.css" />
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-overview.css" />
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-threadslist.css" />
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-message.css" />
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-categories.css" />
        
        <link rel="stylesheet" media="all" href="../static/hyperkitty/css/hyperkitty-users.css" />
    </head>

    <body>

    <div class="container-full">
        <nav class="navbar navbar-fixed-top navbar-default">
            <div class="container">
                <!--part of the navbar that will always be present-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> 
                    <a class="navbar-brand" id="archives-name" href="/">List Archives</a>
                </div>
                <!--part of the navbar that will be collapsed on small screens-->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav nav-pills">
                        <li class="active"><a href="#">Lists</a></li>
                        <li><a href="#">Categories</a></li>
                        <li><a href="#">Users</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right auth">
                        <li><a class="mm_logout" href="/accounts/logout/?next=/">Logout</a></li>
                        <li><a href="/accounts/profile/">email@address.com</a></li>
                    </ul>
                    <form name="search" method="get" action="/search" class="navbar-form navbar-right" role="search">
                        <input type="hidden" name="list" value="cloud@lists.fedoraproject.org" />
                        <div class="form-group">
                            <input name="query" type="text" class="form-control" placeholder="Search this list"/>
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <ol class="breadcrumb" >
                        <li><a href="/"> All lists </a>
                        <li class="active">
                            cloud@lists.fedoraproject.org
                        </li>
                    </ol>
            </div>
        
            <div class="row">
    
            <!--MONTH LIST-->
            <div class="col-md-2">
                <div class="panel-group" id="months-list">
                    
                    <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#months-list" href="#collapse0">
                        2014
                    </a>
                </h3>
            </div>
            <div id="collapse0" class="panel-collapse in">
                <div class="panel-body">
                    <ul class="list-unstyled">
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2014/2/"
                               >February</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2014/1/"
                               >January</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
                    
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#months-list" href="#collapse1">
                        2013
                    </a>
                </h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-unstyled">
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2013/12/"
                               >December</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2013/11/"
                               >November</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2013/10/"
                               >October</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2013/9/"
                               >September</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2013/8/"
                               >August</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2013/7/"
                               >July</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2013/6/"
                               >June</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2013/5/"
                               >May</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2013/4/"
                               >April</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2013/3/"
                               >March</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2013/2/"
                               >February</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2013/1/"
                               >January</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
                    
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#months-list" href="#collapse2">
                        2012
                    </a>
                </h3>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-unstyled">
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2012/12/"
                               >December</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2012/11/"
                               >November</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2012/10/"
                               >October</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2012/9/"
                               >September</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2012/8/"
                               >August</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2012/7/"
                               >July</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2012/6/"
                               >June</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2012/5/"
                               >May</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2012/4/"
                               >April</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2012/3/"
                               >March</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2012/2/"
                               >February</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2012/1/"
                               >January</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
                    
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#months-list" href="#collapse3">
                        2011
                    </a>
                </h3>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-unstyled">
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2011/12/"
                               >December</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2011/11/"
                               >November</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2011/10/"
                               >October</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2011/9/"
                               >September</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2011/8/"
                               >August</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2011/7/"
                               >July</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2011/6/"
                               >June</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2011/5/"
                               >May</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2011/4/"
                               >April</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2011/3/"
                               >March</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2011/2/"
                               >February</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2011/1/"
                               >January</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
                    
                    <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#months-list" href="#collapse4">
                        2010
                    </a>
                </h3>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-unstyled">
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2010/12/"
                               >December</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2010/11/"
                               >November</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2010/10/"
                               >October</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2010/9/"
                               >September</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2010/8/"
                               >August</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2010/7/"
                               >July</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2010/6/"
                               >June</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2010/5/"
                               >May</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2010/4/"
                               >April</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2010/3/"
                               >March</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2010/2/"
                               >February</a>
                        </li>
                        
                        <li class="">
                            <a href="/list/cloud%40lists.fedoraproject.org/2010/1/"
                               >January</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
                    
                </div>
            </div>

            <div id="overview" class="col-md-10">

                <div id="highlights" class="col-md-3">
                    <section id="title" class="row">
                        <h2>
                        
                            cloud
                        
                        </h2>
                        <small><p id="description"></p></small>
                    </section>
                    <div class="thread-new row">
                        <a href="/list/cloud%40lists.fedoraproject.org/message/new"
                        class="btn btn-default">
                        <i class="fa fa-plus"></i> Start a new thread</a>
                    </div>
                    
                    <section id="statistics" class="row">
                        <h3>Activity Summary</h3>
                        <div class="chart">
                            <p class="chart-caption" class="text-muted">Post volume over the past <strong>30</strong> days.</p>            
                        </div>
                        <p class="duration-text">In the past <strong>30</strong> days:</p>
                        <ul class="list-unstyled list-stats">
                            <li class="item">
                                <i class="icomoon participant"></i>
                                <span class="info">30 participants</span>
                            </li>
                            <li class="item">
                                <i class="icomoon discussion"></i>
                                <span class="info">28 discussions</span>
                            </li>
                        </ul>
                    </section>
            
                    <section id="discussion-maker" class="row">
                        <h3>Most active posters</h3>
                        
                        <div class="maker row">
                            <div class="col-md-1">
                                <small class="maker-id">#1</small>
                            </div>
                            <div class="col-md-2 gravatar">
                                <img class="gravatar" src="https://secure.gravatar.com/avatar/2fccc1daa2adc4c5004cbd389e9eecf7.jpg?s=40&amp;r=g&amp;d=mm" width="40" height="40" alt="" />
                            </div>
                            <div class="maker-details col-md-8">
                                <small class="maker-name"><strong>Matthew Miller</strong></small>
                                <br/>
                                <strong>19</strong> posts
                            </div>
                        </div>
                        
                        <div class="maker row">
                            <div class="col-md-1">
                                <small class="maker-id">#2</small>
                            </div>
                            <div class="col-md-2 gravatar">
                                <img class="gravatar" src="https://secure.gravatar.com/avatar/a34a7e0464fbcfd00576417904389273.jpg?s=40&amp;r=g&amp;d=mm" width="40" height="40" alt="" />
                            </div>
                            <div class="maker-details col-md-8">
                                <small class="maker-name"><strong>Sam Kottler</strong></small>
                                <br/>
                                <strong>10</strong> posts
                            </div>
                        </div>
                        
                        <div class="maker row">
                            <div class="col-md-1">
                                <small class="maker-id">#3</small>
                            </div>
                            <div class="col-md-2 gravatar">
                                <img class="gravatar" src="https://secure.gravatar.com/avatar/3e8f5cf1adfe344ed4fb59817be8e0a1.jpg?s=40&amp;r=g&amp;d=mm" width="40" height="40" alt="" />
                            </div>
                            <div class="maker-details col-md-8">
                                <small class="maker-name"><strong>H. Guémar</strong></small>
                                <br/>
                                <strong>7</strong> posts
                            </div>
                        </div>
                        
                        <div class="maker row">
                            <div class="col-md-1">
                                <small class="maker-id">#4</small>
                            </div>
                            <div class="col-md-2 gravatar">
                                <img class="gravatar" src="https://secure.gravatar.com/avatar/c9e345c7bb22d517bb3b19cbce2995c9.jpg?s=40&amp;r=g&amp;d=mm" width="40" height="40" alt="" />
                            </div>
                            <div class="maker-details col-md-8">
                                <small class="maker-name"><strong>Michael Hall</strong></small>
                                <br/>
                                <strong>6</strong> posts
                            </div>
                        </div>
                        
                        <div class="maker row">
                            <div class="col-md-1">
                                <small class="maker-id">#5</small>
                            </div>
                            <div class="col-md-2 gravatar">
                                <img class="gravatar" src="https://secure.gravatar.com/avatar/c7cf032ad508c951010d163bb83120ec.jpg?s=40&amp;r=g&amp;d=mm" width="40" height="40" alt="" />
                            </div>
                            <div class="maker-details col-md-8">
                                <small class="maker-name"><strong>Josh Boyer</strong></small>
                                <br/>
                                <strong>5</strong> posts
                            </div>
                        </div>
                        
                    </section>
            
                </div>

                <div id="discussions" class="col-md-9 pull-right">
                    <section id="most-active">
                        <h3>Recently active discussions</h3>
                        <article class="thread row">
                            <div class="thread-title-info thread-title col-md-8 pull-left">
                                
                                <a name="E5U3CF6O32JIAN5J32X2543CHMGCHNZR"
                                    href="/list/cloud%40lists.fedoraproject.org/thread/E5U3CF6O32JIAN5J32X2543CHMGCHNZR/"
                                    >
                                    
                                    
                                    <span class="thread-title">Cloud SIG grou Todo list</span>
                                </a>
                            </div>
                            <div class="thread-stats col-md-3 pull-right">
                                <ul class="list-inline">
                                    <li class="col-md-3">
                                        <i class="icomoon participant"></i> 
                                        2
                                    </li>
                                    <li class="col-md-4">
                                        <i class="icomoon discussion"></i> 
                                        2
                                    </li>
                                    <li class="col-md-5 pull-right">
                                        <i class="icomoon likestatus neutral"></i>
                                        <strong>+0/-0</strong>
                                    </li>
                                </ul>
                            </div>
                        </article>
                         <!-- cut - with counter=forloop.counter -->
                        <article class="thread row">
                            <div class="thread-title-info thread-title col-md-8 pull-left">
                                
                                <a name="BALXJNTUU3M66RAI37YJ5OCNXHSJVPZI"
                                    href="/list/cloud%40lists.fedoraproject.org/thread/BALXJNTUU3M66RAI37YJ5OCNXHSJVPZI/"
                                    >
                                    
                                    
                                    <i class="fa fa-envelope" title="New messages in this thread"></i>
                                    
                                    <span class="thread-title">lessons to be learned from centos cloud image process?</span>
                                </a>
                            </div>
                            <div class="thread-stats col-md-3 pull-right">
                                <ul class="list-inline">
                                    <li class="col-md-3">
                                        <i class="icomoon participant"></i> 
                                        1
                                    </li>
                                    <li class="col-md-4">
                                        <i class="icomoon discussion"></i> 
                                        1
                                    </li>
                                    <li class="col-md-5 pull-right">
                                        <i class="icomoon likestatus neutral"></i>
                                        <strong>+0/-0</strong>
                                    </li>
                                </ul>
                            </div>
                        </article>
                         <!-- cut - with counter=forloop.counter -->
                        <article class="thread row">
                            <div class="thread-title-info thread-title col-md-8 pull-left">
                                
                                <a name="6BQPNDJA2VEKDY3HSGSX45RD57ES4LJR"
                                    href="/list/cloud%40lists.fedoraproject.org/thread/6BQPNDJA2VEKDY3HSGSX45RD57ES4LJR/"
                                    >
                                    
                                    
                                    <i class="fa fa-envelope" title="New messages in this thread"></i>
                                    
                                    <span class="thread-title">[Fedora-legal-list] Using &#39;fedora&#39; in a github organization name</span>
                                </a>
                            </div>
                            <div class="thread-stats col-md-3 pull-right">
                                <ul class="list-inline">
                                    <li class="col-md-3">
                                        <i class="icomoon participant"></i> 
                                        1
                                    </li>
                                    <li class="col-md-4">
                                        <i class="icomoon discussion"></i> 
                                        1
                                    </li>
                                    <li class="col-md-5 pull-right">
                                        <i class="icomoon likestatus neutral"></i>
                                        <strong>+0/-0</strong>
                                    </li>
                                </ul>
                            </div>
                        </article>
                         <!-- cut - with counter=forloop.counter -->
                        <article class="thread row">
                            <div class="thread-title-info thread-title col-md-8 pull-left">
                                
                                <a name="NLPNTZSSWR6IZLUHLNQBYGINFCUWCQOG"
                                    href="/list/cloud%40lists.fedoraproject.org/thread/NLPNTZSSWR6IZLUHLNQBYGINFCUWCQOG/"
                                    >
                                    
                                    
                                    <i class="fa fa-envelope" title="New messages in this thread"></i>
                                    
                                    <span class="thread-title">fedora-cloud organization on GitHub</span>
                                </a>
                            </div>
                            <div class="thread-stats col-md-3 pull-right">
                                <ul class="list-inline">
                                    <li class="col-md-3">
                                        <i class="icomoon participant"></i> 
                                        1
                                    </li>
                                    <li class="col-md-4">
                                        <i class="icomoon discussion"></i> 
                                        1
                                    </li>
                                    <li class="col-md-5 pull-right">
                                        <i class="icomoon likestatus neutral"></i>
                                        <strong>+0/-0</strong>
                                    </li>
                                </ul>
                            </div>
                        </article>
                         <!-- cut - with counter=forloop.counter -->
                        <article class="thread row">
                            <div class="thread-title-info thread-title col-md-8 pull-left">
                                
                                <a name="W3JENCH5JRPQ2SMQN2PT4J7EVQTMFPCD"
                                    href="/list/cloud%40lists.fedoraproject.org/thread/W3JENCH5JRPQ2SMQN2PT4J7EVQTMFPCD/"
                                    >
                                    
                                    
                                    <span class="thread-title">Using &#39;fedora&#39; in a github organization name</span>
                                </a>
                            </div>
                            <div class="thread-stats col-md-3 pull-right">
                                <ul class="list-inline">
                                    <li class="col-md-3">
                                        <i class="icomoon participant"></i> 
                                        3
                                    </li>
                                    <li class="col-md-4">
                                        <i class="icomoon discussion"></i> 
                                        3
                                    </li>
                                    <li class="col-md-5 pull-right">
                                        <i class="icomoon likestatus neutral"></i>
                                        <strong>+0/-0</strong>
                                    </li>
                                </ul>
                            </div>
                        </article>
                         <!-- cut - with counter=forloop.counter -->
                        
                    </section>
            
                    <section id="popular-threads">
                        <h3>Most popular discussions</h3>
                        
                        <p>No vote has been cast this month (yet).</p>
                        
                    </section>
            
                    <section id="top-discussion">
                        <h3>Most active discussions</h3>
                        <article class="thread row">
                            <div class="thread-title-info thread-title col-md-8 pull-left">
                                <strong><span class="thread-id">#1</span></strong>
                                <a name="AXOR2FTHHV6WOMEULZXOTTPKE4YQPFNT"
                                    href="/list/cloud%40lists.fedoraproject.org/thread/AXOR2FTHHV6WOMEULZXOTTPKE4YQPFNT/"
                                    >
                                    
                                    
                                    <i class="fa fa-envelope" title="New messages in this thread"></i>
                                    
                                    <span class="thread-title">Vagrant in Fedora</span>
                                </a>
                            </div>
                            <div class="thread-stats col-md-3 pull-right">
                                <ul class="list-inline">
                                    <li class="col-md-3">
                                        <i class="icomoon participant"></i> 
                                        7
                                    </li>
                                    <li class="col-md-4">
                                        <i class="icomoon discussion"></i> 
                                        35
                                    </li>
                                    <li class="col-md-5 pull-right">
                                        <i class="icomoon likestatus neutral"></i>
                                        <strong>+0/-0</strong>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <article class="thread row">
                            <div class="thread-title-info thread-title col-md-8 pull-left">
                                <strong><span class="thread-id">#2</span></strong>
                                <a name="RQOOZCDDHE42LMOQGSJDRIOVALSHIJH4"
                                    href="/list/cloud%40lists.fedoraproject.org/thread/RQOOZCDDHE42LMOQGSJDRIOVALSHIJH4/"
                                    >
                                    
                                    
                                    <i class="fa fa-envelope" title="New messages in this thread"></i>
                                    
                                    <span class="thread-title">Initial PRD vote</span>
                                </a>
                            </div>
                            <div class="thread-stats col-md-3 pull-right">
                                <ul class="list-inline">
                                    <li class="col-md-3">
                                        <i class="icomoon participant"></i> 
                                        10
                                    </li>
                                    <li class="col-md-4">
                                        <i class="icomoon discussion"></i> 
                                        17
                                    </li>
                                    <li class="col-md-5 pull-right">
                                        <i class="icomoon likestatus neutral"></i>
                                        <strong>+0/-0</strong>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <article class="thread row">
                            <div class="thread-title-info thread-title col-md-8 pull-left">
                                <strong><span class="thread-id">#3</span></strong>
                                <a name="XT23HLTQN2NEO7GTSHRNLRWHLB5KQMJL"
                                    href="/list/cloud%40lists.fedoraproject.org/thread/XT23HLTQN2NEO7GTSHRNLRWHLB5KQMJL/"
                                    >
                                    
                                    
                                    <i class="fa fa-envelope" title="New messages in this thread"></i>
                                    
                                    <span class="thread-title">Google Compute Engine Fedora Images (status update)</span>
                                </a>
                            </div>
                            <div class="thread-stats col-md-3 pull-right">
                                <ul class="list-inline">
                                    <li class="col-md-3">
                                        <i class="icomoon participant"></i> 
                                        6
                                    </li>
                                    <li class="col-md-4">
                                        <i class="icomoon discussion"></i> 
                                        11
                                    </li>
                                    <li class="col-md-5 pull-right">
                                        <i class="icomoon likestatus neutral"></i>
                                        <strong>+0/-0</strong>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <article class="thread row">
                            <div class="thread-title-info thread-title col-md-8 pull-left">
                                <strong><span class="thread-id">#4</span></strong>
                                <a name="MUKCXU37AU53MWQOPJSMMHFOPFJ57R3G"
                                    href="/list/cloud%40lists.fedoraproject.org/thread/MUKCXU37AU53MWQOPJSMMHFOPFJ57R3G/"
                                    >
                                    
                                    
                                    <i class="fa fa-envelope" title="New messages in this thread"></i>
                                    
                                    <span class="thread-title">Cloud image/ kernel/OVS followup</span>
                                </a>
                            </div>
                            <div class="thread-stats col-md-3 pull-right">
                                <ul class="list-inline">
                                    <li class="col-md-3">
                                        <i class="icomoon participant"></i> 
                                        6
                                    </li>
                                    <li class="col-md-4">
                                        <i class="icomoon discussion"></i> 
                                        10
                                    </li>
                                    <li class="col-md-5 pull-right">
                                        <i class="icomoon likestatus neutral"></i>
                                        <strong>+0/-0</strong>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <article class="thread row">
                            <div class="thread-title-info thread-title col-md-8 pull-left">
                                <strong><span class="thread-id">#5</span></strong>
                                <a name="X4W4SDEQYP5AROTECHBOFIV546APU2J6"
                                    href="/list/cloud%40lists.fedoraproject.org/thread/X4W4SDEQYP5AROTECHBOFIV546APU2J6/"
                                    >
                                    
                                    
                                    <i class="fa fa-envelope" title="New messages in this thread"></i>
                                    
                                    <span class="thread-title">Fedora cloud internships available</span>
                                </a>
                            </div>
                            <div class="thread-stats col-md-3 pull-right">
                                <ul class="list-inline">
                                    <li class="col-md-3">
                                        <i class="icomoon participant"></i> 
                                        4
                                    </li>
                                    <li class="col-md-4">
                                        <i class="icomoon discussion"></i> 
                                        9
                                    </li>
                                    <li class="col-md-5 pull-right">
                                        <i class="icomoon likestatus neutral"></i>
                                        <strong>+0/-0</strong>
                                    </li>
                                </ul>
                            </div>
                        </article>
        
                    </section>
            
                    <section id="discussion-by-category">
                        <h3>Discussion by category</h3>
                        
                            <p>No category has been set this month (yet).</p>
                        
                    </section>
            
                </div>

            </div>

        </div>

    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/hyperkitty/libs/jquery/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="../static/hyperkitty/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
    
    <script src="../static/hyperkitty/libs/bootstrap/js/bootstrap.min.js"></script>
    
    <script src="../static/hyperkitty/libs/jquery.expander.js"></script>
    
    <script src="../static/hyperkitty/libs/d3.v2.min.js"></script>
    
    <script src="../static/hyperkitty/libs/jquery.hotkeys.js"></script>
    
    <script src="../static/hyperkitty/js/hyperkitty-common.js"></script>
    
    <script src="../static/hyperkitty/js/hyperkitty-index.js"></script>
    
    <script src="../static/hyperkitty/js/hyperkitty-thread.js"></script>
    
    <script src="../static/hyperkitty/js/hyperkitty-userprofile.js"></script>
    
    
    </body>
</html>
