//=== categories overview page ==/
#categories {
    .filters {
        margin-top: 1em;
    }

    table.category-list {
        margin-top: 1em;
        border-collapse: separate;
        border-spacing: 0 5px;

        td {
            vertical-align: middle;
        }

        thead > tr > th {
            border: none;
        }

        .category-subscribe {
            border-bottom: none;
            border-top: none;
        }
        .category-label {
            border-left: 1px solid @rowBorderColor;
            border-top: 1px solid @rowBorderColor;
            border-bottom: 1px solid @rowBorderColor;
        }
        .category-description {
            border-top: 1px solid @rowBorderColor;
            border-bottom: 1px solid @rowBorderColor;
        }
        .category-stats {
            border-right: 1px solid @rowBorderColor;
            border-top: 1px solid @rowBorderColor;
            border-bottom: 1px solid @rowBorderColor;
        }
    }
}