//=== categories overview page ==/
#categories {
    .header {
        margin-top: 1em;

        .btn-group {
            margin-top: 1em;
        }

        p.hide-switches {
            margin: 0;
            padding-top: 0.5em;
            label:first-child {
                display: inline;
                margin-right: 2em;
            }
            input {
                margin: 0;
            }
        }
    }

    p.table-title {
        &:extend(.small-caps);
        margin-top: 1em;
        margin-bottom: 0;
    }

    table.category-list {
        border-collapse: separate;
        border-spacing: 0 5px;
        margin-top: 1em;

        td {
            vertical-align: middle;
        }

        thead > tr > th {
            &:extend(.small-caps);
            border: none;
        }

        tr.category  {
            &:hover {
                &:extend(.row-hover);
                td.category-subscribe {
                    background-color: white;
                }
            }
        }

        span.label {
            font-size: 90%;
        }
        .category-subscribe {
            border-bottom: none;
            border-top: none;
        }
        .category-label {
            border-left: 1px solid @rowBorderColor;
            border-top: 1px solid @rowBorderColor;
            border-bottom: 1px solid @rowBorderColor;
        }
        .category-description {
            border-top: 1px solid @rowBorderColor;
            border-bottom: 1px solid @rowBorderColor;
        }
        .category-stats {
            border-right: 1px solid @rowBorderColor;
            border-top: 1px solid @rowBorderColor;
            border-bottom: 1px solid @rowBorderColor;
        }
    }
}

@media (max-width: @screen-xs-max) {
    #categories {
        table.category-list {
            margin-top: 0;
        }
        td.category-stats {
            .right();
        }
    }
}